<section class="splash">
    <h1 id="app_title">My Wallet</h1>
    <div class="splash-inner">
        <button class="splash-btn">
        <%= link_to "Log in", "/users/sign_in" %>
        </button>
        <button class="splash-btn">
        <%= link_to "Register", "/users/sign_up" %>
        </button>
    </div>
</section>
