<section class="splash">
    <h1>My Wallet</h1>
    <div class="splash-inner">
        <button class="splash-btn">
        <%= link_to "Sign in", "/users/sign_in" %>
        </button>
        <button class="splash-btn">
        <%= link_to "Register", "/users/sign_up" %>
        </button>
    </div>
</section>
