/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .splash{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
 }

 .splash h1 {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    padding-bottom: 18%;
    font-weight: bold;
    font-size: xx-large;
    color: #ffffff;

 }

 .splash-inner {
    display: flex;
    flex-direction: column;
 }

 .splash-btn {
    margin: 1rem;
    padding: 1rem;
    background-color: #3778c2;
    cursor: pointer;

 }

 .splash-btn a {
    text-decoration: none;
    font-weight: 700;
    font-size: large;
    color: #434b54;

 }

 .btn {
   background: #5fb523;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    border: none;
    padding: 1.25rem 0;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}
 

 .btn a {
   text-decoration: none;
   font-weight: 700;
   font-size: large;
   color: white;

 }

 .groups {
   width: 100%;
   height: 100vh;
   background-color: gainsboro;
 }
 .groups h1 {
   margin-left: auto;
   margin-right: auto;
   font-weight: 700;
   font-size: xx-large;
   color: white;
   padding: 1.5rem;
   justify-content: center;
   align-items: center;
 }


 .group-list {
   display: flex;
   flex-direction: column;
   margin: 0 1rem 1rem 1rem;
   padding-top: 1rem;
 }

 .group-list span {
   margin-right: 3rem;
 }

 .group {
   display: flex;
   flex-direction: row;
   background-color: white;
   border-radius: 2px;
   padding: 1.5rem;
   justify-content: space-between;

 }
 .name-icon {
  display: flex;
   flex-direction: row;
   background-color: white;
   border-radius: 2px;
   justify-content: space-between;
 }

 .group_link {
   text-decoration: none;
   font-size: xx-large;
 }

 .remove-category {
  width: auto;
  padding: 0.5rem;
  margin: 0rem 1rem 1rem 1rem;
  background-color: red;
  border-radius: 2px;
 }

.remove-category a {
  text-decoration: none;
  color: white;

}

.header-sign-out {
  display: flex;
  flex-direction: row;
  background-color: #3778c2;
  justify-content: center;
  align-items: center;

}

.header-sign-out a {
  font-weight: 700;
   font-size: large;
   color: white;
   padding: 2rem;
   text-decoration: none;
   margin-top: 1rem;
   
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.form_field {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
}

.remember_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 0;
}

.app_button {
  color: white;
  font-size: 1rem;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  text-decoration: none;
  margin: 1rem;
}

.app_button:hover {
  opacity: 0.8;
}

.green_button {
  background: #5fb523;;
}

.standard_button {
  background: #f1f3f2;
  color: #434654;
}

.category_icon {
  font-size: 3rem;
}

.select_icon {
  display: flex;
  margin-bottom: 1rem;

}

.select_icon select {
  background: white;
  border: none;
  font-size: 1rem;
  padding: 1rem;
}

.select_icon_label {
  background: white;
  color: #b3b3b3;
  font-size: 1rem;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.expense {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
  background-color: white;
  padding: 1rem;
}

.groups h2 {
  margin: 1rem;
}