<% @expenses.each do |expense| %>
   <div class="expense">
      <span>
        <%= expense.name %>
      </span> 
      <br>
      <span>
        <%= expense.amount %>
      </span>
    </div>
        
<%end%>